:root {
    --olive-green: #ccc9a2;
    --dark-olive-green: #3f5835;
    --light-green: #b5d6b2;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff8ed;
    font-family: "Roboto", Calibri, Tahoma, sans-serif;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.container {
    padding: 0 1.5rem;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

.nav-items {
    //background-color: var(--olive-green);
    position: absolute;
    top: 0;
    right: 0;
    width: 80vw;
    height: 50vh;
    background-color: #fff8ed;
    border-radius: 2.5px;
    //transform: translateX(33vh);
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 .5rem 1rem .5rem;
}

.nav-list a {
    text-decoration: none;
    color: black;
}

.nav-list-item {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    margin: 0.1rem;
    background-image: linear-gradient(to right, var(--olive-green), var(--olive-green));
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .25s;
}

.nav-list-item:hover {
    background-size: 100% 2px;
}


.donate-btn-item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.donate-btn-item.btn {
    color: white !important;
}

.close-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
}

.btn {
    text-decoration: none;
    outline: 0;
    color: white;
    padding: 1rem 3rem;
    background-color: var(--dark-olive-green);
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 10vh;
    padding: 1rem 1.5rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.logo {
    width: 100px;
}

.menu-icon {
    margin-top: .5rem;
}

.banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem .5rem;
    background-size: cover;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
}

#wolf {
    background-image: url("../assets/wolf-cropped.jpg");
}

#boyscout {
    background-image: url("../assets/boyscout2-cropped.jpg");
}

#snake-event {
    background-image: url("../assets/snake-event-cropped.jpg");
}